Bio>=1.5.9
biopython>=1.81
fastapi>=0.95.1
FastAPI_SQLAlchemy>=0.2.1
matplotlib>=3.7.1
numpy>=1.24.3
pandas>=2.0.1
pydantic>=1.10.7
pytest>=7.3.1
python-dotenv>=1.0.0
simplesam>=0.1.4.1
SQLAlchemy>=2.0.11
uvicorn>=0.22.0

starlette>=0.27.0
alembic~=1.10.4
motor~=3.1.2
bson~=0.5.10
pymongo~=4.3.3
requests~=2.28.2